<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-primary sticky-top navbars">
  <div class="container-fluid d-flex justify-content-center align-items-center">
    <!-- Left Side (Logo and Company Name) -->
    <div class="mlogo d-flex align-items-center">
      <div class="navlogo">
        <img src="https://tse4.mm.bing.net/th?id=OIP.w0UIrflMiOr9To-bNe4gEQAAAA&pid=Api&P=0&h=180" alt="Logo">
      </div>
      <a href="/" class="aeepl">AEEPL</a>
    </div>

    <!-- Center (Company Heading) -->
    <div class="aeeplNav">
      <div class="comp-heading text-center">Aastha Enviro Engineers Pvt. Ltd.</div>
    </div>

    <!-- Right Side (Navigation Links) -->
    <div class="collapse navbar-collapse flex-navbar justify-content-center" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/plants">Plants</a>
        <a class="nav-link" href="/project">Projects</a>
        <a class="nav-link" href="/service">Services</a>
      </div>
    </div>

  </div>
</nav>



