<% layout("/layouts/boilerplate") %>

<div style="width: 100%; height: 100vh; background-color: #f0f0f0;">
    <div class="blurred-background">
        <!-- Content Overlay -->
        <div class="content-overlay">
          <div class="content-text">
            <h1>Aastha Enviro Engineers Pvt. Ltd.</h1>
            <p>
              We are young and dynamic professionals engaged in Design, Engineering,
              Consultancy
            </p>
            <p>
              Including pump systems, compressed air systems, specialty gas
              compression systems, and more.
            </p>
            <a
              href="https://mail.google.com/mail/?view=cm&fs=1&to=aasthaenvirogroup@gmail.com"
              target="_blank"
              class="btn btn-danger btn-custom"
              >Send Email</a
            >
            <a href="#" class="btn btn-outline-dark btn-custom">Learn More</a>
          </div>
        </div>
      </div>
      
      <div class="feature-container">
        <div class="feature-content">
          <div class="main-info">
            <h2 class="main-title">Our competitive Advantage</h2>
            <p class="main-desc">
              Leading the way in wastewater management, we provide innovative,
              efficient, and sustainable solutions that protect the environment and
              meet industrial needs.
            </p>
          </div>
      
          <div class="feature-grid">
            <!-- card 1 -->
            <div class="feature-card">
              <div class="icon-container">
                <!-- <img src="/images/Analytics.svg" class="feature-svg" /> -->
                <!-- <i class="fa-regular fa-city fa-bounce"></i> -->
                <img
                  src="https://static.vecteezy.com/system/resources/previews/000/349/392/original/handshake-vector-icon.jpg"
                  alt="Searching"
                  class="feature-svg"
                />
              </div>
              <div class="feature-info">
                <div class="feature-title">Tailored Wastewater Solutions</div>
                <div class="feature-description">
                  "We offer customized wastewater treatment strategies that address
                  the specific requirements of your industry, ensuring compliance and
                  efficiency."
                </div>
              </div>
            </div>
            <!-- card 2 -->
            <div class="feature-card">
              <div class="icon-container">
                <img
                  src="https://cdn1.iconfinder.com/data/icons/soleicons-fill-vol-1/64/affordability_affordable_accessible_reasonable_inexpensive_budget_friendly-1024.png"
                  alt="Searching"
                  class="feature-svg"
                />
              </div>
              <div class="feature-info">
                <div class="feature-title">Cost-Effective Treatment</div>
                <div class="feature-description">
                  Delivering high-quality wastewater solutions at competitive rates,
                  minimizing operational costs without compromising on performance.
                </div>
              </div>
            </div>
            <!-- card 3 -->
            <div class="feature-card">
              <div class="icon-container">
                <img
                  src="https://i.pinimg.com/564x/ad/fe/79/adfe79beea275ac286396ef2f9a8b5e3.jpg"
                  alt="Searching"
                  class="feature-svg"
                />
              </div>
              <div class="feature-info">
                <div class="feature-title">Industry Collaborations</div>
                <div class="feature-description">
                  Partnering with key industry players to innovate and deliver
                  reliable wastewater solutions that drive environmental
                  responsibility and success.
                </div>
              </div>
            </div>
            <!-- card 4 -->
            <div class="feature-card">
              <div class="icon-container">
                <img
                  src="https://cdn-icons-png.flaticon.com/128/3256/3256216.png"
                  alt="Searching"
                  class="feature-svg"
                />
              </div>
              <div class="feature-info">
                <div class="feature-title">Advanced Technologies</div>
                <div class="feature-description">
                  Utilizing cutting-edge technology to optimize wastewater treatment
                  processes, ensuring cleaner discharge and reduced environmental
                  impact.
                </div>
              </div>
            </div>
            <!-- card 5 -->
            <div class="feature-card">
              <div class="icon-container">
                <img
                  src="https://img.freepik.com/premium-psd/lego-sculpture-with-blue-white-stripes-blue-white-top_1217673-263111.jpg?w=740"
                  alt="Searching"
                  class="feature-svg"
                />
              </div>
              <div class="feature-info">
                <div class="feature-title">Sustainability Focus</div>
                <div class="feature-description">
                  Our processes prioritize sustainability, focusing on reducing water
                  waste and recycling water for reuse, contributing to a greener
                  future.
                </div>
              </div>
            </div>
            <!-- card 6 -->
            <div class="feature-card">
              <div class="icon-container">
                <img
                  src="https://img.freepik.com/free-vector/coal-plant-emission-icon-air-pollution-campaign-flat-graphic_53876-113882.jpg?t=st=1729492555~exp=1729496155~hmac=d3c0d75df0e672987b33312ee3d34aca439403b060981a0d173dc2dcba181ece&w=740"
                  alt="Searching"
                  class="feature-svg"
                />
              </div>
              <div class="feature-info">
                <div class="feature-title">Compliance & Safety</div>
                <div class="feature-description">
                  Ensuring all our wastewater treatment solutions meet stringent
                  industry standards and environmental regulations, with a strong
                  emphasis on safety and reliability.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <footer class="footer mt-4">
          <div class="footer__addr">
            <h1 class="footer__logo">Aastha Enviro Engineers Pvt. Ltd.</h1>
      
            <h2>Contact_us : 0124-4100404</h2>
      
            <address>
              543-Y Pace-City Sector-37. Gurugram 122001<br />
      
              <a
                class="footer__btn"
                href="https://mail.google.com/mail/?view=cm&fs=1&to=aasthaenvirogroup@gmail.com"
                target="_blank"
                >Email Us</a
              >
            </address>
          </div>
      
           <ul class="footer__nav">
            <li class="nav__item">
              <h2 class="nav__title">Media</h2>
      
              <ul class="nav__ul">
                <li>
                  <a href="#">ETP</a>
                </li>
      
                <li>
                  <a href="#">STP</a>
                </li>
      
                <li>
                  <a href="#">FTP</a>
                </li>
              </ul>
            </li>
      
             <li class="nav__item nav__item--extra">
              <h2 class="nav__title">Technology</h2>
      
              <ul class="nav__ul nav__ul--extra">
                <li>
                  <a href="#">Hardware Design</a>
                </li>
      
                <li>
                  <a href="#">Software Design</a>
                </li>
      
                <li>
                  <a href="#">Digital Signage</a>
                </li>
      
                <li>
                  <a href="#">Automation</a>
                </li>
      
                <li>
                  <a href="#">Artificial Intelligence</a>
                </li>
      
                <li>
                  <a href="#">IoT</a>
                </li>
              </ul>
            </li> 
      
            <li class="nav__item">
              <h2 class="nav__title">Legal</h2>
      
              <ul class="nav__ul">
                <li>
                  <a href="#">Privacy Policy</a>
                </li>
      
                <li>
                  <a href="#">Terms of Use</a>
                </li>
      
                <li>
                  <a href="#">Sitemap</a>
                </li>
              </ul>
            </li>
          </ul>
      
          <div class="legal">
            <p>&copy; 2019 Something. All rights reserved.</p>
      
            <div class="legal__links">
              <span>Made with <span class="heart">♥</span> AEEPL</span>
            </div>
          </div>
      </footer>
</div>
